.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .buttons button {
    display: inline-block;
    margin-bottom: 10px; /* Espacement entre les boutons */
    line-height: 40px; /* Hauteur des boutons */
  }