/* https://coolors.co/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff */

:root {
    --main-bg-color: #0d1b2a;
    --second-bg-color: #1b263b;
    --element-bg-color: #e0e1dd;

}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: radial-gradient(circle, var(--second-bg-color), var(--main-bg-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    user-select: none;
}

.quiz-container {
    width: 80%;
    min-height: 300px;
    max-width: 800px;
    padding: 0px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--element-bg-color);
}
#text-area{
    font-size: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ccc;
}
.quiz-container p{
    font-size: 20px;
}

.quizzs-container {
    width: 80%;
    min-height: 300px;
    max-width: 800px;
    padding: 0px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--element-bg-color);
}

.quizzs-container p{
    font-size: 20px;
    
}

h1 {
    font-size: 24px;
}

.question {
    margin: 20px 0;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    justify-content: center;
}

.bottom-button {
    padding: 10px;
    border: 1px solid #0D1B2A;
    border-radius: 2px;
    background-color: #f1f2f0;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s, color 0.3s;
    color: #0D1B2A;
}

.bottom-button:hover {
    background-color: #0D1B2A; 
    color: #ffffff;
    font-style: italic;
}

.retour-button {
    padding: 10px;
    border: 1px solid #0D1B2A;
    border-radius: 2px;
    background-color: var(--element-bg-color);;
    cursor: pointer;
    width: 200px;
    color: #0D1B2A;
    text-decoration-line: none;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.retour-button:hover {
    background-color: #0D1B2A; 
    color: #ffffff;
    font-style: italic;
}

.selected {
    font-style: normal;
}
.answer-btn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}



.answer-btn:hover {
    font-style: italic;
    font-weight: bold;
}



.correct {
    background-color: #4CAF50; 
}

.incorrect {
    background-color: #f44336; 
}

.white {
    background-color: #ffffff; 
}
#answer-input {
    border: 2px solid #0D1B2A; 
    border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-style: none;
    font-weight: none;
    transition: border-color 0.3s ease;
}

#answer-input:hover {
    border-color: #003b56;
  }

  